# Flutter/Dart spezifisch
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/

# Firebase & Geheimnisse (SEHR WICHTIG)
ios/Runner/GoogleService-Info.plist
android/app/google-services.json
lib/firebase_options.dart
*.jks
*.keystore
*.p12
*.key

# Betriebssysteme
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Android spezifisch
android/app/google-services.json
android/.gradle
android/local.properties
android/bundle
android/key.properties
*.jks
*.keystore